<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>David Tubridy</h2>
            <h4>placeholder@placeholder.com</h4>
        </div>
        <mat-icon>face</mat-icon>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <mat-divider></mat-divider>


</mat-nav-list>